<h1>Listing Silly Thoughts and Comments</h1>
<%= link_to 'New Bathroom Thoughts', new_article_path %>

<table>
	<tr>
		<th>Headline</th>
		<th>Message</th>
		<th colspan="2"></th>
	</tr>

	<% @articles.each do |article| %>
		<tr>
			<td> <%= article.title %></td>
			<td> <%= article.text %></td>
			<td><%= link_to 'Show', article_path(article) %></td>
			<td><%= link_to 'Edit', edit_article_path(article)%></td>
		</tr>
	<% end %>
</table>